* {
    font-family: 'Roboto', sans-serif;
    color: #333;
}


body {
    margin: 0;
    background-color: #FFF;
}

.icon {
    color: #fff;
}

#topBar {
    position: relative;
    top: 0;
    width: 100%;
    height: 85px;
    background-color: #FFF;
    border-bottom: 1px solid #EC1412;
}

#topBar img {
    max-height: 100%;
    margin-left: 100px;
}
#container {
    width: 100%;
    text-align: center;
}

#mainTimer  {
    position: relative;
    display: block;
    top: 50px; 
    width: 100%;
    font-size: 64;
}

.timer {
    display: block;
    height: 180px;
}

.startButton {
    display: inline;
    margin: 0 auto;
    padding: 10 25;
}

.controlButton {
    display: inline;
    margin: 0 auto;
    padding: 10 25;
}
.redButton {
    background-color: #FFF;
    border: 2px solid #EC1412;
}

.blueButton {
    background-color: #FFF;
    border: 2px solid #1976d2;
}

.buttonHidden {
    display: none;
}

@media only screen and (min-width: 750px) {
    body {
        background-image: url('assets/homebg.jpg');
        background-size: cover;
        z-index: -1;
    }

    .setInfoText {
        width: 100%;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        margin-bottom: 15px;
        position: relative;
        background-color: #fff;
        color: #f9333f;
        border-radius: 5px;
        font-weight: 500;
    }

    #cover {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: -2;
        background-image: url('assets/pattern.png');
        opacity: 0.8;
    }

    .setZone {
        position: relative;
        width: 400px;
        padding-bottom: 25px;
        border-radius: 10px;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #f9333f;
        margin: auto;
        margin-bottom: 25px;
        z-index: 2;
    }

    .setButton {
        position: relative;
        right: 0;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #fff;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 15;
        font-weight: 500;
        color: #f9333f;
        cursor: pointer;
    }

    .setText {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }

    .timeSelector {
        width: 70%;
        color: #fff;
        background-color: #f9333f;
        border: none;
        padding: 5 25;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
    }

    .startButton {
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    .controlButton {
        position: relative;
        border-radius: 5px;
        color: #FFF;
        font-size: 16px;
        cursor: pointer;
    }

    .redButton {
        background-color: #f9333f;
        color: #fff;
        border: none;
    }

    .blueButton {
        background-color: #1976d2;
        color: #fff;
        border: none;
    }

    .leftButton {
        position: absolute;
        float: left;
    }

    .rightButton {
        position: absolute;
        float: right;
    }
    .buttons {
        width: 400px;
        margin: auto;
    }

    #mainTimer {
        font-size: 95px;
        font-weight: 700;
        margin: 50 0;
    }
}

@media only screen and (max-width: 750px) {
    #topBar {
        background-color: #FFF;
        height: 80px;
        border-bottom: 4px solid #EC1412;
    }

    .setInfoText {
        display: none;
    }

    #topBar img {
        display: block;
        margin: 0 auto;
        max-height: 100%;
    }

    .startButton {
        position: relative;
        bottom: 0;
        height: 80px;
        width: 100%;
        color: #FFF;
        font-weight: 400;
        font-size: 20px;
    }

    .controlButton {
        width: 50%;
        bottom: 0;
        color: #FFF;
        height: 80px;
        font-weight: 400;
        font-size: 20px;
    }

    .buttons {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .redButton {
        background-color: #EC1412;
    }
    
    .blueButton {
        background-color: #1976d2;
    }

    .line {
        display: block;
        margin: 10 0;
    }

    .setZone {
        width: 80%;
        margin: auto;
        position: relative;
        bottom: 0;
    }

    .timeSelector {
        margin: auto;
        margin-left: 15%;
        width: 60%;
        display: inline;
        text-align: center;
        background-color: #FFF;
        padding: 5px;
        font-size: 20px;
        border: none;
    }

    .setText {
        font-size: 24px;
    }

    .setButton {
        background-color: #FFF;
        color: #2e7d32;
        font-size: 22px;
        border: none;
        border-bottom: 2px solid #2e7d32;
        margin-left: 25px;
        float: right;
    }

    .leftButton {
        float: left; 
        position: absolute; 
        left: 0;
    }

    .rightButton {
        float: right;
    }

}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }